body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
}

.calculator-container {
    display: flex;
    justify-content: center;
}

.rate-calculator,
.percentage-calculator {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 350px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

p {
    margin-top: 10px;
}

#output div {
    margin-bottom: 20px;
}
